////////////////////////////// 
// LOGO

.logo {
    height: 3.25rem;
    margin-left: 2rem;
}

////////////////////////////////////// 
//SEARCH BOX
.search {
    flex: 0 0 40%;

    display: flex;
    align-items: center;
    justify-content: center;

    &__input {
        font-family: inherit;
        font-size: inherit;
        color: inherit;
        background-color: var(--color-grey-light-2);
        border: none;
        padding: .7rem 2rem;
        border-radius: 100px;
        width: 90%;
        transition: all .2s;
        margin-right: -3.5rem;

        &:focus {
            outline: none;
            width: 100%;
            background-color: var(--color-grey-light-3);
        }

        &::-webkit-input-placeholder {
            font-weight: 100;
            color: var(--color-grey-light-4);
        }
    }

    &__input:focus + &__button {
        background-color: var(--color-grey-light-3);
    }

    &__button {
        border: none;
        background-color: var(--color-grey-light-2);
        


        &:focus {
            outline: none;
        }

        &:active {
            transform: translateY(.2rem) scale(0.95);
        }
    }

    &__icon {
        height: 2rem;
        width: 2rem;
        fill: var(--color-grey-dark-3);
    }
}


//////////////////////////////////// 
// USER NAV
.user-nav {

    display: flex;
    align-items: center;
    justify-content: space-between;
    align-self: stretch;

    & > * {
        padding: 0 2rem;
        cursor: pointer;
        height: 100%;
    }

    & > *:hover {
        background-color: var(--color-grey-light-2);
    }

    &__icon-box {
        display: flex;
        align-items: center;
        position: relative;
    }

    &__icon {
        height: 2.25rem;
        width: 2.25rem;
        fill: var(--color-grey-dark-2);
        
    }

    &__notification {
        font-size: .8rem;
        height: 1.75rem;
        width: 1.75rem;
        border-radius: 50%;
        color: #fff;
        background-color: var(--color-primary);
        
        position: absolute;
        top: 1.5rem;
        right: 1rem;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__user {
        display: flex;
        align-items: center;
    }

    &__user-photo {
        height: 3.75rem;
        border-radius: 50%;
        margin-right: 1rem;
    }

    &__user-name {

    }
}

//////////////////////////////////////////////
// SIDE NAVIGATION

.side-nav {
    font-size: 1.4rem;
    list-style: none;
    margin-top: 3.5rem;

    &__item {
        position: relative;
        
        &:not(:last-child) {
            margin-bottom: .5rem;
        }
    }

    &__item:hover::before,
    &__item--active {
        transform: scaleY(1);
        width: 100%;
    }

    &__item::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 3px;
        background-color: var(--color-primary);
        transform: scaleY(0);
        transition: transform .2s, 
                    width .4s cubic-bezier(1, 0, 0, 1) .2s,
                    background-color .1s;

    }

   &__item:active::before {
       background-color: var(--color-primary-light);
   }

    &__link:link,
    &__link:visited {
        color: var(--color-grey-light-1);
        text-transform: uppercase;
        text-decoration: none;
        
        //////// Parent of icon and text
        display: flex;
        align-items: center;
        //////// 

        position: relative; // to display text, without z-index doesn't work
        padding: 1.5rem 3rem;
        z-index: 10; // to display on top of animation
    }

    &__icon {
        width: 1.75rem;
        height: 1.75rem;
        margin-right: 2rem;
        fill: currentColor;
    }
}


/////////////////////////////////////////////// 
// LEGAL TEXT

.legal {
    align-self: center; // flex item of .sidebar
    
    font-size: 1.2rem;
    color: var(--color-grey-light-4);
    text-align: center;

    padding: 2.5rem;
}

///////////////////////////////////////////// 
// GALLERY

.gallery {

    display: flex;

    &__item {
    

    }

    &__photo {
        max-width: 100%;

        display: block;

        &:last-child {
            max-height: -webkit-fill-available;
        }
    }
}


///////////////////////////////////////////// 
// GALLERY

.overview {

    display: flex;
    align-items: center;
    border-bottom: var(--line);
    
    &__heading {
        font-size: 2.25rem;
        font-weight: 300;
        text-transform: uppercase;
        letter-spacing: 1px;
        padding: 1.5rem 3rem;
    }

    &__stars {
        margin-right: auto;
        display: flex;
    }

    &__icon-star,
    &__icon-location {
        width: 1.75rem;
        height: 1.75rem;
        fill: var(--color-primary);

        align-self: flex-end;
    }

    &__location {
         font-size: 1.2rem;
         display: flex;
         align-items: center;
    }

    &__icon-location {
        margin-right: .5rem;
    }

    &__rating {
        background-color: var(--color-primary);
        margin-left: 3rem;
        color: #fff;

        padding: 0 2.25rem;

        align-self: stretch; //children of overview

        display: flex; // parent of average and count
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__rating-average {
        font-size: 2.25rem;
        font-weight: 300;
    }

    &__rating-count {
        font-size: .8rem;
        text-transform: uppercase;
    }
}

///////////////////////////////////////////// 
// BUTTON

.btn-inline {
    border: none;

    color: var(--color-primary);
    background-color: transparent;
    font-size: inherit;

    border-bottom: 1px solid currentColor;
    padding-bottom: 2px;
    display: inline-block;
    cursor: pointer;
    transition: all .2s;

    &:hover {
        color: var(--color-grey-dark-1)
    }

    &:focus {
        outline: none;
        animation: pulsate 1s infinite;

    }
}

@keyframes pulsate {
    0% {
        transform: scale(1);
        box-shadow: none;
    }

    50% {
        transform: scale(1.05);
        box-shadow: 0 1rem 4rem rgba(0,0,0, .25);
    }

    100% {
        transform: scale(1);
        box-shadow: none;
    }
}

///////////////////////////////////////////// 
// PARAGRAPH

.paragraph:not(:last-of-type) {
    margin-bottom: 2rem;
}


///////////////////////////////////////////// 
// LIST

.list {
   list-style: none;
   
    margin: 3rem 0;
    padding: 3rem 0;
    border-top: var(--line);

    display: flex;
    flex-wrap: wrap;
    
    
    &__item {
        flex: 0 0 50%;
    }
}

///////////////////////////////////////////// 
// RECOMMEND