.container {
    max-width: 120rem;
    margin: 8rem auto;
    background-color: var(--color-grey-light-2);
    box-shadow: var(--shadow-dark);

    min-height: 50rem;
}

.header {
    height: 7rem;
    background-color: #fff;
    border-bottom: 1px solid var(--color-grey-light-2);

    // Typography for children to inherit (search bar, user nav)
    font-size: 1.4rem; 
    
    //Flexbox properties
    display: flex;
    justify-content: space-between;
    align-items: center;
    //
}

.content {
    display: flex;
}

.sidebar {
    background-color: var(--color-grey-dark-1);

    // FLEX ITEM
    flex: 0 0 18%;

    // FLEX CONTAINER
    display: flex; 
    flex-direction: column;
    justify-content: space-between;
}

.hotel-view {
    height: 80rem;

    flex: 1;
}